h3 {
  margin-left: 15px;
}

.imgPreview {
  text-align: center;
  height: 600px;
  width: 100%;
  background: black;
}



.buttonInline{
  margin-left: 45%;
  width: 100px;
  height: 100px;
  margin-right: 45%;
}
